<div class="row">
    <% content_for :title, "Post article" %>
        <div class="container-fluid">
            <h1>Post article</h1>
            <%= form_for Article.new do |f| %>
                <div class="form-group">
                    <%= f.label :title, "Title" %>
                    <%= f.text_field :title, class: "form-control", placeholder: "Enter title" %>
                </div>
                <div class="form-group">
                    <%= f.label :summary, "Summary" %>
                    <%= f.text_area :summary, size: "24x3", class: "form-control", placeholder: "Enter summary" %>
                </div>
                <div class="form-group">
                    <%= f.label :content, 'Content' %>
                    <%= f.text_area :content, size: "24x8", class: "form-control", placeholder: "Enter content" %>
                </div>
                <%= f.submit "Post", class: 'btn btn-default' %>
            <% end %>
        </div>
</div>