<% content_for :title, "Sign up" %>
<div class="container-fluid">
  <h2>Registration</h2>
  <%= form_for @user, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.submit "Sign up", class: "btn btn-default" %>
<% end %>
  <form action="<%= new_user_path %>">
    <%= form_with do |f| %>
      <div class="form-group">
        <label for="email">Email:</label>
        <%= f.text_field :email, class: "form-control", id: "email", placeholder: "Enter email", name: "email" %>
      </div>
      <div class="form-group">
      <label for="pwd">Password:</label>
      <%= f.password_field :password, class: "form-control", id: "pwd", placeholder: "Enter Password", name: "pwd" %>
    </div>
    <div class="form-group">
      <label for="pwd">First name:</label>
      <input type="text" class="form-control" id="fname" placeholder="Enter First name" name="fname">
    </div>
    <div class="form-group">
      <label for="pwd">Last name:</label>
      <input type="text" class="form-control" id="lname" placeholder="Enter Last name" name="lname">
    </div>
    <div class="form-group">
      <label for="pwd">Phone number:</label>
      <input type="number" class="form-control" id="pnumber" placeholder="Enter Phone number" name="pnumber">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <% end%>
    <button type="submit" class=>Submit</button>
  </form>
</div>